.default-theme {
          --background-default: #ffffff;
  --background-subdued: #efeff0;
  --background-hover: #d6d8db;
  --background-pressed: #ffffff;
  --background-selected: #ffffff;
  --background-disabled: #bbbfc3;
  --background-inverse: #151619;
  --border-default: #d6d8db;
  --border-subdued: #bbbfc3;
  --border-hover: #d6d8db;
  --border-pressed: #d6d8db;
  --border-selected: #d6d8db;
  --border-disabled: #bbbfc3;
  --border-inverse: #505968;
  --text-default: #151619;
  --text-subdued: #666e7a;
  --text-hover: #151619;
  --text-pressed: #151619;
  --text-selected: #151619;
  --text-disabled: #9ea3a9;
  --text-inverse: #ffffff;
  --text-informative: #2b67e9;
  --text-success: #2c7d44;
  --text-warning: #f7b418;
  --text-critical: #d32246;
  --icon-default: #151619;
  --icon-subdued: #666e7a;
  --icon-hover: #151619;
  --icon-pressed: #151619;
  --icon-selected: #151619;
  --icon-disabled: #9ea3a9;
  --icon-inverse: #ffffff;
  --icon-informative: #2b67e9;
  --icon-success: #2c7d44;
  --icon-warning: #f7b418;
  --icon-critical: #d32246;
  --primary-default: #2b67e9;
  --primary-subdued: #d0d8e7;
  --primary-hover: #2b55b1;
  --primary-pressed: #213154;
  --primary-selected: #213154;
  --primary-disabled: #d6d8db;
  --secondary-default: #30343b;
  --secondary-subdued: #d6d8db;
  --secondary-hover: #666e7a;
  --secondary-pressed: #151619;
  --secondary-selected: #151619;
  --secondary-disabled: #d6d8db;
  --neutral-default: #d6d8db;
  --neutral-subdued: #efeff0;
  --neutral-hover: #bbbfc3;
  --neutral-selected: #9ea3a9;
  --neutral-pressed: #9ea3a9;
  --neutral-disabled: #d6d8db;
  --interactive-default: #d6d8db;
  --interactive-hover: #bbbfc3;
  --interactive-focus: #30343b;
  --interactive-selected: #151619;
  --interactive-error: #d32246;
  --interactive-disabled: #9ea3a9;
  --decorative-informative-light: #eff1f6;
  --decorative-informative-medium: #2b67e9;
  --decorative-informative-dark: #27437c;
  --decorative-success-light: #ecf3ed;
  --decorative-success-medium: #2c7d44;
  --decorative-success-dark: #284d30;
  --decorative-warning-light: #f9efd7;
  --decorative-warning-medium: #f7b418;
  --decorative-warning-dark: #524224;
  --decorative-critical-light: #f8eded;
  --decorative-critical-medium: #d32246;
  --decorative-critical-dark: #7a2a32;
  --display-font-size-lg-regular: [object Object];
  --display-font-size-lg-medium: [object Object];
  --display-font-size-lg-bold: [object Object];
  --display-font-size-md-regular: [object Object];
  --display-font-size-md-medium: [object Object];
  --display-font-size-md-bold: [object Object];
  --display-font-size-sm-regular: [object Object];
  --display-font-size-sm-medium: [object Object];
  --display-font-size-sm-bold: [object Object];
  --heading-font-size-2xl-regular: [object Object];
  --heading-font-size-2xl-medium: [object Object];
  --heading-font-size-2xl-bold: [object Object];
  --heading-font-size-xl-regular: [object Object];
  --heading-font-size-xl-medium: [object Object];
  --heading-font-size-xl-bold: [object Object];
  --heading-font-size-lg-regular: [object Object];
  --heading-font-size-lg-medium: [object Object];
  --heading-font-size-lg-bold: [object Object];
  --heading-font-size-md-regular: [object Object];
  --heading-font-size-md-medium: [object Object];
  --heading-font-size-md-bold: [object Object];
  --heading-font-size-sm-regular: [object Object];
  --heading-font-size-sm-medium: [object Object];
  --heading-font-size-sm-bold: [object Object];
  --heading-font-size-xs-regular: [object Object];
  --heading-font-size-xs-medium: [object Object];
  --heading-font-size-xs-bold: [object Object];
  --paragraph-font-size-lg-regular: [object Object];
  --paragraph-font-size-lg-medium: [object Object];
  --paragraph-font-size-lg-bold: [object Object];
  --paragraph-font-size-md-regular: [object Object];
  --paragraph-font-size-md-medium: [object Object];
  --paragraph-font-size-md-bold: [object Object];
  --paragraph-font-size-sm-regular: [object Object];
  --paragraph-font-size-sm-medium: [object Object];
  --paragraph-font-size-sm-bold: [object Object];
  --paragraph-font-size-xs-regular: [object Object];
  --paragraph-font-size-xs-medium: [object Object];
  --paragraph-font-size-xs-bold: [object Object];
  --label-font-size-lg-regular: [object Object];
  --label-font-size-lg-medium: [object Object];
  --label-font-size-lg-bold: [object Object];
  --label-font-size-md-regular: [object Object];
  --label-font-size-md-medium: [object Object];
  --label-font-size-md-bold: [object Object];
  --label-font-size-sm-regular: [object Object];
  --label-font-size-sm-medium: [object Object];
  --label-font-size-sm-bold: [object Object];
  --label-font-size-xs-regular: [object Object];
  --label-font-size-xs-medium: [object Object];
  --label-font-size-xs-bold: [object Object];
  --below-elevation-10: [object Object];
  --below-elevation-20: [object Object];
  --below-elevation-30: [object Object];
  --below-elevation-40: [object Object];
  --below-elevation-0: [object Object];
  --above-elevation-10: [object Object];
  --above-elevation-20: [object Object];
  --above-elevation-30: [object Object];
  --above-elevation-40: [object Object];
  --above-elevation-0: [object Object];
  --border-radius-avatar: 50%;
  --border-radius-badge: 50%;
  --border-radius-callout: 24;
  --border-radius-dialog: 24;
  --border-radius-tag: 8;
  --border-radius-input-large: 16;
  --border-radius-input-medium: 12;
  --border-radius-button-small: 50%;
  --border-radius-button-medium: 50%;
  --border-radius-button-large: 50%;
  --border-radius-spot: 50%;
  --border-radius-loading-bar: 50%;
  --border-radius-switch: 50%;
  --border-radius-tabs-default-small: 8;
  --border-radius-tabs-default-medium: 12;
  --border-radius-tabs-full-circle-small: 50%;
  --border-radius-tabs-full-circle-medium: 50%;
  --border-radius-tooltip: 24;
  --border-radius-snackbar: 16;
  --border-radius-menu-item: 12;
  --border-radius-menu: 24;
  --border-radius-image: 8;
  --border-width-avatar: 1;
  --border-width-callout: 1;
  --border-width-input: 1;
  --border-width-spot: 1;
      }