.default-theme {
          --background-default: #ffffff;
  --background-subdued: #efeff0;
  --background-hover: #d6d8db;
  --background-pressed: #ffffff;
  --background-selected: #ffffff;
  --background-disabled: #bbbfc3;
  --background-inverse: #151619;
  --border-default: #d6d8db;
  --border-subdued: #bbbfc3;
  --border-hover: #d6d8db;
  --border-pressed: #d6d8db;
  --border-selected: #d6d8db;
  --border-disabled: #bbbfc3;
  --border-inverse: #505968;
  --text-default: #151619;
  --text-subdued: #666e7a;
  --text-hover: #151619;
  --text-pressed: #151619;
  --text-selected: #151619;
  --text-disabled: #9ea3a9;
  --text-inverse: #ffffff;
  --text-informative: #2b67e9;
  --text-success: #2c7d44;
  --text-warning: #f7b418;
  --text-critical: #d32246;
  --icon-default: #151619;
  --icon-subdued: #666e7a;
  --icon-hover: #151619;
  --icon-pressed: #151619;
  --icon-selected: #151619;
  --icon-disabled: #9ea3a9;
  --icon-inverse: #ffffff;
  --icon-informative: #2b67e9;
  --icon-success: #2c7d44;
  --icon-warning: #f7b418;
  --icon-critical: #d32246;
  --primary-default: #2b67e9;
  --primary-subdued: #d0d8e7;
  --primary-hover: #2b55b1;
  --primary-pressed: #213154;
  --primary-selected: #213154;
  --primary-disabled: #d6d8db;
  --secondary-default: #30343b;
  --secondary-subdued: #d6d8db;
  --secondary-hover: #666e7a;
  --secondary-pressed: #151619;
  --secondary-selected: #151619;
  --secondary-disabled: #d6d8db;
  --neutral-default: #d6d8db;
  --neutral-subdued: #efeff0;
  --neutral-hover: #bbbfc3;
  --neutral-selected: #9ea3a9;
  --neutral-pressed: #9ea3a9;
  --neutral-disabled: #d6d8db;
  --interactive-default: #d6d8db;
  --interactive-hover: #bbbfc3;
  --interactive-focus: #30343b;
  --interactive-selected: #151619;
  --interactive-error: #d32246;
  --interactive-disabled: #9ea3a9;
  --decorative-informative-light: #eff1f6;
  --decorative-informative-medium: #2b67e9;
  --decorative-informative-dark: #27437c;
  --decorative-success-light: #ecf3ed;
  --decorative-success-medium: #2c7d44;
  --decorative-success-dark: #284d30;
  --decorative-warning-light: #f9efd7;
  --decorative-warning-medium: #f7b418;
  --decorative-warning-dark: #524224;
  --decorative-critical-light: #f8eded;
  --decorative-critical-medium: #d32246;
  --decorative-critical-dark: #7a2a32;
  --display-font-size-96-regular: [object Object];
  --display-font-size-96-medium: [object Object];
  --display-font-size-96-bold: [object Object];
  --display-font-size-72-regular: [object Object];
  --display-font-size-72-medium: [object Object];
  --display-font-size-72-bold: [object Object];
  --display-font-size-60-regular: [object Object];
  --display-font-size-60-medium: [object Object];
  --display-font-size-60-bold: [object Object];
  --heading-font-size-48-regular: [object Object];
  --heading-font-size-48-medium: [object Object];
  --heading-font-size-48-bold: [object Object];
  --heading-font-size-36-regular: [object Object];
  --heading-font-size-36-medium: [object Object];
  --heading-font-size-36-bold: [object Object];
  --heading-font-size-30-regular: [object Object];
  --heading-font-size-30-medium: [object Object];
  --heading-font-size-30-bold: [object Object];
  --heading-font-size-24-regular: [object Object];
  --heading-font-size-24-medium: [object Object];
  --heading-font-size-24-bold: [object Object];
  --paragraph-font-size-18-regular: [object Object];
  --paragraph-font-size-18-medium: [object Object];
  --paragraph-font-size-18-bold: [object Object];
  --paragraph-font-size-16-regular: [object Object];
  --paragraph-font-size-16-medium: [object Object];
  --paragraph-font-size-16-bold: [object Object];
  --paragraph-font-size-14-regular: [object Object];
  --paragraph-font-size-14-medium: [object Object];
  --paragraph-font-size-14-bold: [object Object];
  --paragraph-font-size-12-regular: [object Object];
  --paragraph-font-size-12-medium: [object Object];
  --paragraph-font-size-12-bold: [object Object];
  --below-elevation-10: [object Object];
  --below-elevation-20: [object Object];
  --below-elevation-30: [object Object];
  --below-elevation-40: [object Object];
  --above-elevation-10: [object Object];
  --above-elevation-20: [object Object];
  --above-elevation-30: [object Object];
  --above-elevation-40: [object Object];
      }