.global-theme {
          --global-gray-50: #f0f0f0;
  --global-gray-100: #d9d9d9;
  --global-gray-200: #bfbfbf;
  --global-gray-300: #a3a3a3;
  --global-gray-400: #878787;
  --global-gray-500: #6e6e6e;
  --global-gray-600: #5a5858;
  --global-gray-700: #464444;
  --global-gray-800: #343432;
  --global-gray-900: #171616;
  --global-cool-gray-50: #efeff0;
  --global-cool-gray-100: #d6d8db;
  --global-cool-gray-200: #bbbfc3;
  --global-cool-gray-300: #9ea3a9;
  --global-cool-gray-400: #818892;
  --global-cool-gray-500: #666e7a;
  --global-cool-gray-600: #505968;
  --global-cool-gray-700: #3e4651;
  --global-cool-gray-800: #30343b;
  --global-cool-gray-900: #151619;
  --global-blue-50: #eff1f6;
  --global-blue-100: #d0d8e7;
  --global-blue-200: #b1c0dd;
  --global-blue-300: #89a4d7;
  --global-blue-400: #5b84d7;
  --global-blue-500: #2b67e9;
  --global-blue-600: #2b55b1;
  --global-blue-700: #27437c;
  --global-blue-800: #213154;
  --global-blue-900: #111622;
  --global-purple-50: #efeff5;
  --global-purple-100: #d8d6ea;
  --global-purple-200: #c1bae3;
  --global-purple-300: #a698e2;
  --global-purple-400: #9474ec;
  --global-purple-500: #7c59d4;
  --global-purple-600: #5f4b9b;
  --global-purple-700: #4a3d71;
  --global-purple-800: #362f50;
  --global-purple-900: #17141f;
  --global-green-50: #ecf3ed;
  --global-green-100: #c8e0cc;
  --global-green-200: #9dcda5;
  --global-green-300: #5eb573;
  --global-green-400: #1c9c4d;
  --global-green-500: #2c7d44;
  --global-green-600: #2c6339;
  --global-green-700: #284d30;
  --global-green-800: #203724;
  --global-green-900: #101811;
  --global-teal-50: #eaf1f0;
  --global-teal-100: #cbdcda;
  --global-teal-200: #a4c6c1;
  --global-teal-300: #71ada4;
  --global-teal-400: #26978c;
  --global-teal-500: #247a71;
  --global-teal-600: #29605a;
  --global-teal-700: #264a46;
  --global-teal-800: #203734;
  --global-teal-900: #101818;
  --global-yellow-50: #f9efd7;
  --global-yellow-100: #fad689;
  --global-yellow-200: #f7b418;
  --global-yellow-300: #ce9927;
  --global-yellow-400: #aa822c;
  --global-yellow-500: #87682c;
  --global-yellow-600: #6b5629;
  --global-yellow-700: #524224;
  --global-yellow-800: #3b301c;
  --global-yellow-900: #1b160e;
  --global-orange-50: #f9ece1;
  --global-orange-100: #f9d2b4;
  --global-orange-200: #faaf75;
  --global-orange-300: #eb8b3d;
  --global-orange-400: #bf763b;
  --global-orange-500: #9b6236;
  --global-orange-600: #784e30;
  --global-orange-700: #5d3f28;
  --global-orange-800: #412e1f;
  --global-orange-900: #1e1610;
  --global-red-50: #f8eded;
  --global-red-100: #f3d3d5;
  --global-red-200: #f0b2b4;
  --global-red-300: #ed878c;
  --global-red-400: #e75566;
  --global-red-500: #d32246;
  --global-red-600: #a42d3f;
  --global-red-700: #7a2a32;
  --global-red-800: #572328;
  --global-red-900: #261213;
  --global-pink-50: #f7eef0;
  --global-pink-100: #efd2db;
  --global-pink-200: #eaaec0;
  --global-pink-300: #e585a3;
  --global-pink-400: #df5386;
  --global-pink-500: #ca2b70;
  --global-pink-600: #9c3059;
  --global-pink-700: #732b46;
  --global-pink-800: #512433;
  --global-pink-900: #211217;
  --global-white: #ffffff;
  --global-black: #000000;
  --font-family-base: Inter;
  --line-height-50: 16;
  --line-height-100: 20;
  --line-height-200: 24;
  --line-height-300: 28;
  --line-height-400: 28;
  --line-height-500: 32;
  --line-height-600: 36;
  --line-height-700: 40;
  --line-height-800: 44;
  --line-height-900: 52;
  --line-height-1000: 52;
  --line-height-1100: 64;
  --line-height-1200: 112;
  --font-weight-regular: Regular;
  --font-weight-medium: Medium;
  --font-weight-bold: Bold;
  --font-size-50: 12;
  --font-size-100: 14;
  --font-size-200: 16;
  --font-size-300: 18;
  --font-size-400: 20;
  --font-size-500: 24;
  --font-size-600: 28;
  --font-size-700: 32;
  --font-size-800: 36;
  --font-size-900: 40;
  --font-size-1000: 44;
  --font-size-1100: 52;
  --font-size-1200: 96;
  --letter-spacing-none: 0%;
  --text-case-none: none;
  --text-decoration-none: none;
  --below-elevation-10: [object Object];
  --below-elevation-20: [object Object];
  --below-elevation-30: [object Object];
  --below-elevation-40: [object Object];
  --below-elevation-0: [object Object];
  --above-elevation-10: [object Object];
  --above-elevation-20: [object Object];
  --above-elevation-30: [object Object];
  --above-elevation-40: [object Object];
  --above-elevation-0: [object Object];
  --paragraph-spacing-none: 0;
  --space-0: 0;
  --space-2: 2;
  --space-4: 4;
  --space-8: 8;
  --space-12: 12;
  --space-16: 16;
  --space-20: 20;
  --space-24: 24;
  --space-32: 32;
  --space-40: 40;
  --space-48: 48;
  --space-56: 56;
  --space-64: 64;
  --space-80: 80;
  --space-96: 96;
  --border-radius-0: 0;
  --border-radius-2: 2;
  --border-radius-4: 4;
  --border-radius-8: 8;
  --border-radius-12: 12;
  --border-radius-16: 16;
  --border-radius-20: 20;
  --border-radius-24: 24;
  --border-radius-32: 32;
  --border-radius-40: 40;
  --border-radius-circle: 50%;
  --border-width-0: 0;
  --border-width-10: 1;
  --border-width-20: 2;
  --border-width-30: 4;
  --border-width-40: 8;
      }